body{
    margin: 0;
    padding: 0;
}
main{
    padding: 0 160px;
}
header{
    padding: 0 160px;
}
.head-of-the-head{
    padding:20px 160px;
}
.fira-sans-normal{
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
} /* nav */
.nav-bar{
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   padding: 31px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
    margin: 31px;
}
.sec-1-headline{
    font-size: 56px;
    font-weight:bold ;
    padding-bottom: 24px;
                                                           
}
.sec-1-title{
    font-size: 24px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);

}
.section-bar{
    margin-bottom: 80px;
}
.title-button{
     font-size: 18px;
     font-weight: 600px;
     color: #006A50;
    border-radius: 8px;
     padding: 15px 30px;
     border-color: #006A50;
     text-align: center;
    
} 
.title-button:hover{
    background-color:rgb(78, 184, 178);
    scale: 2;
}
.nav-sec-1{
    display: flex;
    gap: 64px;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    max-width: 1280px;
    height: 560px;
    padding: 80px 160px;
  
   
}
.nav-headline{   
    width: 1280px;
}
.head-title{
    font-size: 24px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.5);
    padding-bottom: 16px;
}

.headline{
    font-size: 56px;
    font-weight: 500px;  
}
.nav-button{  
    background-color: #006A50;
    border: 0;
    font-size: 18px;
    font-weight: 600px;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 17px 34px;
    border-color: #006A50;
    text-align: center;
    margin-top: 24px;
}
.nav-button:hover{
background-color:lightseagreen;
scale: 2;
}
/* small card */
.small-card-title{
    width: 1240;
    height: 48;
    font-size: 40px;
    font-weight: bold;
    margin-top: 80px  ;
    margin-bottom: 32px;
   
}
.same-icon{
    margin: 24px 24px;
   padding-bottom: 24px 24px;  
}
.heading{
    font-size: 20px;
    font-weight: bold;
    color:rgba(14, 14, 14, 0.8);
    margin: 24px;
    padding-bottom: 12px;
    
}
.small-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding: 12px 24px 24px 24px;
    margin: 0 auto;
}
.card-style{
    width: 1280px;
    background-color: whitesmoke;
    border-radius:16px;
    margin: 24px 24px;
    text-align: center;
    box-shadow: 0 0px 0px 0px #0E0E0E;
   text-align: left;
}

.small-card-des{
    display: flex;
    justify-content:space-around;
    gap: 24px;
}

.sec-3-title{
    font-size: 40px;
    font-weight: bold;
}
.sec-3-description{
     font-size: 16px;
     color: rgba(14, 14, 14, 0.7);
}
.all-big-cards{
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    gap: 24px; 
   
}
.big-card-1:hover{
     background-color: lightblue;
     scale: 1;
    }
.big-card-2:hover{
     background-color: lightblue;
     scale: 1;
    }
.big-card-3:hover{
     background-color: lightblue;
     scale: 1;
}
.big-card-1{
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding: 32px 32px;
}
.big-card-2{
    background-color: rgba(9, 161, 92, 0.32);
    border-radius: 16px;
    padding: 32px 32px;
    
}
.big-card-3{
     background-color:rgba(255, 194, 57, 0.27);
     border-radius: 16px;
     padding: 32px 32px;
}
.blue{
    background-color: #5490F5;
    text-align: center;
    padding: 11px 20px;
    border-radius: 8px;
}
.green{
    background-color: rgba(9, 161, 92, 0.67);
    text-align: center;
    padding: 11px 20px;
    border-radius: 8px;
}
.yellow{
    background-color:rgba(255, 194, 57, 0.73);
    text-align: center;
    padding: 11px 20px;
    border-radius: 8px;
}
.comma-section{
    background-image: url("../assets/quote-bg.png");
    background-position: 2% 15%;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    border-radius: 16px;
    padding: 48px 24px;
    margin-top: 32px;    
}
.comma-sec-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.8);
}
.comma-sec-head{
    font-size: 20px;
    font-weight: 600px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}
.comma-sec-title{
    margin-top: 4px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
  
}
.comma-section:hover{
    background-color: rgb(222, 227, 233) ;
}
.opinion-table{
    margin-top: 80px;
}
.table {
    border-collapse: collapse;
    border: 1px solid lightslategray;
}
.td ,tr{
    border: 1px solid lightslategray;
}
.table-header{
    background-color: #C6E4D6;
   display: flex;
   list-style: none;
   justify-content: space-between;
   padding: 24px;
   padding-right: 988px;
}

.td{
    border: 2px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
    font-weight: 600;
}
                  /* news section */
.highlight-news{
    font-size: 40px;
    font-weight: bold;
}
.news-description{
   font-size: 16px;
   color:rgba(14, 14, 14, 0.7);
   margin-top: 12px;
}
.card-main{
    box-shadow: 0 0 0 0 rgb(13, 13, 13);
    display: flex;
    gap: 32px;
    background-color: whitesmoke;
    padding: 48px 48px;
    margin-bottom: 24px;
    border-radius: 24px;
}
.card-main2{
    display: flex;
    gap: 24px;
    background-color: whitesmoke;
    border-radius: 24px;
    padding: 48px 48px;
    margin-bottom: 24px;
}
.satelite-1-button{
   padding: 13px 26px;
   border-radius: 8px;
   background-color: #399b83;
   margin-top: 32px;
}
.satelite-1-button:hover{
    background-color: #07795e;
    scale: 2;
}
.main-div{
    
}
.main-div:hover{
    background-color: rgb(240, 236, 231);  
}
.sat-head{
    margin-bottom: 12px;
}
         /* donate section */
.donate-section{
    text-align: center;
    margin: 0 auto;

}
.donate-title{
   font-size: 40px;
   font-weight: bold;
}
.donate-describe{
    font-size: 16px;
    margin-bottom: 32px;

}
.donate-list{
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    box-shadow: 1 0 0 0 black;
    justify-content: space-evenly;
}
.donatee{
    font-size: 40px;
    font-weight: bold;
    border-radius: 16px;
    padding: 40px 40px;
    
} 
.donatee2{
    font-size: 40px;
    font-weight: bold;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    padding: 40px 40px;
}
.donatee:hover{
      background-color: lightblue;
      scale: 1;
}
.donatee2:hover{
    background-color: lightblue;
      scale: 1;
}
.input-bar{
    padding: 20px 423px;
    margin-top: 32px;
    
}
.now-button{
    background-color: #10d4a3;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    border-radius: 8px;
    margin-top: 32px;
}
.now-button:hover{
    background-color:  #79ac9f;
    scale: 2;
}
/* challenging section */
.footer-fast{
    background-color: rgba(198, 228, 214, 1);
    border-radius: 24px;
    padding: 80px 100px;
    text-align: center;
    margin: 80px;
}
.mewsletter-head{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.promise{
        font-size: 16px;
       color: rgba(14, 14, 14, 0.7);
}
.mewsletter-describe{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);

}
.input-news{
    padding: 18px 40px
}
.input-newsletter{
   display: flex;
    align-items: center;
    display: block;
    padding: 24px 0;
} 
.input-news{
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
   border: none;
    width: 600px;
    align-items: center;
 } 
    
.footer-button{
    border-color: #006A50;
    color: white;
    border: none;
    font-size: 18px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    font-weight: 600px;
    background-color: #006A50 ;
    padding: 17px 34px;
    margin-left: -5px;
} 
.footer-button:hover{
    background-color: #577970;
    scale: 1;
}  
          /*footer section  */
.footer-hradline{
            font-size: 32px;
            font-weight: bold;
            text-align: center;
        }
.footer-list{
            display: flex;
            list-style: none;
            gap: 23px;
            align-items: center;
            text-align: center;
            justify-content: center;
            
 }
 .footer-sec{
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 80px 0;
 }